@charset "UTF-8";

.joinWrap {width:100%; min-width:1300px; background:#fff; margin:0 auto; margin-top:100px;}

.join {width:700px; margin:0 auto;}

.join > h2 {margin:10px 0 30px 0; padding-bottom:5px; font-size:14px; color:#434343; border-bottom:3px solid #3a4452;}

.join_box {width:610px; margin:0 auto 100px;}

.join_box > form > ul {margin-bottom:12px;}

.join_box > form > ul li {position:relative; height:49px; padding:0 23px; border:1px solid #dadada; background:#fff; color:#000; margin-bottom:10px;}

.join_box > form > ul li label {font-size:14px; font-weight:bold; color:#3d3d3d; line-height:49px;}

.birth input {left:0!important; width:90% !important; }
.join_box > form > ul li input {position:absolute; top:0; left:23px; width:300px; height:49px; line-height:49px; font-size:14px; font-weight:bold; color:#000; border:0; opacity: 0;}

.msg_txt {margin:5px 0 10px;}
.msg_txt span {font-size:12px;}

.userIdCheck, .pwd_check {color:#0095ff; font-size:13px;}

.birth_box {width:100px; position:relative; float:left; font-size:14px; font-weight:bold; height:49px;}

/* 회원의 주소 */
.address {height:170px !important; border:0 !important; padding-left:0 !important;
margin-top:10px !important;}
.address input {opacity : 1!important; position:relative !important; top:0 !important; left:0 !important; border:1px solid #dadada !important; padding-left:5px !important;}
.address input::placeholder {padding-left:5px; color:#3d3d3d;}
.adress_find {display:inline-block; width:130px; height:51px; line-height:51px; font-size:14px; color:#000; text-align:center; font-weight:600; border:0; background:#ddd; border-radius:5px; }
#postcode {width:106px !important; margin-bottom:5px !important;}
#roadAddress {width:48% !important; margin-bottom:5px !important;}
#jibunAddress {width:48% !important; margin-bottom:5px !important;}
#detailAddress {width:40% !important;}
#extraAddress {width:40% !important;}



.join_msg li {border:0; padding-bottom:5px;}
.join_msg li:first-child > span {color:#0549bb; font-size:14px; font-weight:bold;}
.join_msg li:last-child {font-size:12px; color:#999; line-height:18px; height:18px; padding-left:2px;}

.chkWrap {width:600px; color:#3d3d3d; border:1px solid #dedede; margin-top:20px;}
.all_chk {color:#3d3d3d !important; height:43px; line-height:45px; padding-left:20px; font-size:14px; font-weight:bold; color:#000; border-bottom:1px solid #dedede;}
.all_chk label {font-weight:500 !important;}
.all_chk input {width:14px; height:14px;}

.userInfo {padding:10px;}
.userInfo ul {width:500px; padding-left:30px !important; padding-bottom:15px;}
.userInfo ul li {float:left; width:220px; line-height:18px; letter-spacing: -1px;}
.userInfo ul li label {font-size:12px; font-weight:500 !important;}
.userInfo ul li a {display:inline-block; width:50px !important; height:16px; line-height:15px; background:#999; font-size:11px; color:#000; text-align: center; border-radius: 3px;}

.submitButton {margin:20px 0 0; padding-bottom:30px; border-bottom:1px solid #ececec;}
.buttonJoin {display: block; width:234px; height:64px; line-height:66px; margin:40px auto 0; font-size:15px; font-weight:500; color:#fff; background:#3d3d3d; text-align: center; }

.chk_cont1 {margin-top:50px; margin-bottom:5px; padding-left:5px; font-size:14px; font-weight:bold;}

.privercy-contract {clear:both;}
.privercy-contract textarea {box-sizing: border-box; clear: both; border:1px solid #ccc; background:#fff; padding:10px; line-height:1.5;}


.contract-table {width:100%; border-spacing: 0; border-collapse: 0; table-layout: fixed;}
.contract-table th {background:#f7f6f6; text-align: center; border:1px solid #e5e5e5;}
.contract-table th div {height:41px; line-height:43px; font-size:12px;}

.contract-table td {text-align: center; border:1px solid #e5e5e5;}
.contract-table td div {padding:10px; font-size:12px;}
